<div class="row align-items-center justify-content-center">
  <div class="col-sm-8 card p-4 m-4 bg-light ">
      <h2>Create your program so that potential students can apply</h2>
      <p>Please provide the following details about your program</p>

      <%= simple_form_for @program do |f|%>
      <%= f.input :title, label:  "What would you like to name your program?", placeholder: "4-week long carpeting crash course" %>
      <%= f.input :headline, label: "Provide a one sentence summary about your program", label: "Learn carpeting basics 101" %>
      <%= f.input :description, label: "Provide an in-depth description about what your program has to offer potential students", label: "We're offering a four-week long crash course for students to learn about the basics of carpeting.  It's a full-time class of four located in the heart of New York City.  No experience is necessary, must be at least 18, etc." %>
      <%= f.input :rolling, label: "Are potential students allowed to apply anytime?  Or is there a specific due date?" %>
      <%= f.input :application_due_date, label: "On what day are applications due by at the latest?" %>
      <%= f.input :remote, label: "Is the program remote?" %>
      <%= f.input :spots, label: "How many spots are there available for your program?", placeholder: "10" %>
      <%= f.input :requirements, label: "What are the requirements that applicants need to have in order to apply successfully?", placeholder: 'There are no pre-requisites other than having enthusiasm to learn!' %>
      <%= f.input :length, collection: Program.length, label: "How long does the program last for?" %>
      <%= f.input :minimum_age, label: "Is there a minimum age requirements for applicants?", placeholder: "16" %>
      <%= f.input :nationals_only, label: "Are national citizens only eligible to apply?" %>
      <%= f.input :visa_sponsorship, label: "Do you offer visa sponsorship for foreign nationals?" %>
      <%= f.input :start_date, label: "On what date does this program begin?" %>
      <%= f.input :virtual_components, label: "Are there any virtual or remote components for this program?" %>
      <%= f.input :housing_provided, label: "Would program participants have housing provided for them from you?" %>
      <%= f.input :essay_one_needed, label: "Do you want applicants to submit an essay?" %>
      <%= f.input :essay_question_one, label: "What would you like the first essay to be about?", placeholder: "Why are you interested in our program" %>
      <%= f.input :essay_two_needed, label: "Do you want applicants to submit a second essay as well?" %>
      <%= f.input :essay_question_two, label: "What would you like the first essay to be about?", placeholder: "What are your goals with regards to this program?" %>
      <%= f.input :essay_three_needed, label: "Do you want applicants to submit a third essay too?" %>
      <%= f.input :essay_question_three, label: "What would you like the first essay to be about?", placeholder: "Tell me about how you overcame a hardship that you've faced in the past?" %>
      <%= f.input :salary_paid, label: "Do you offer a salary or stipend for program participants?" %>
      <%= f.input :salary, label: "What is the salary/stipend you have to offer?", placeholder: "$1000 per month" %>
      <%= f.input :cost, label: "How much do you charge applicants for the program?", placeholder: "$2500" %>
      <%= f.input :certificatae_awarded, label: "Do participants earn any certification upon completion?" %>
      <%= f.input :active, as: :hidden, value: true %>
      <%= f.input :time_requirement, label: "How much time is required weekly for the program?", collection: Program.time_requirement %>
      <%= f.input :job_guaranteed, label: "Are participants guaranteed to get a job with you after they complete the program?" %>
      <%= f.input :category, label: "Please pick the category that best fits this program" %>
      <%= f.input :relocation_assistance, label: "Will you provide participants with help to relocate to the destination of your program?" %>
      <div style="text-align:center">
      <%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
      </div>
      <% end %>
      </div>
    </div>
  </div>



